[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "pybind/cvnp"]
	path = pybind/cvnp
	url = https://github.com/pthom/cvnp.git
[submodule "external/hello_imgui"]
	path = external/hello_imgui
	url = https://github.com/pthom/hello_imgui.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/pthom/imgui.git
