name: MacOS

on:
  push:
    branches:
      - master
      - dev
  pull_request:

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@master

    - name: Checkout submodules
      run: git submodule update --init --recursive

    - name: Clone imgui and hello_imgui
      run: |
        ./scripts/build_utilities.py --imgui_download
        ./scripts/build_utilities.py --hello_imgui_download

    - name: Install OpenCV and SDL via brew (about 8 minutes)
      run: brew install opencv sdl2

    - name: Configure
      run: |
          mkdir build
          cd build
          ../scripts/build_utilities.py --run_cmake

    - name: Build
      run: |
        cd build
        make -j

#    - name: Setup interactive tmate session
#      uses: mxschmitt/action-tmate@v2

